/* ==UserStyle==
@name			Arch Lentia
@namespace		userstyles-riedler
@version		0.0.1
@description	Dark and Neumorphic style for the AUR.
@author			Riedler
@preprocessor	less
@var	text	shs		"shadow size"			"0.2em"
@var	range	sha		"shadow angle"			[315,0,360,1,'deg']
@var	text	rad		"border radius"			"0.2em"
@var	color	acc		"Accent color"			#6AC
@var	color	bg		"Background color"		#333
@var	color	txt		"Text color"			#DDD
@var	color	htxt	"lighter Text color"	#FFF
==/UserStyle== */

//shadow offset calculated through angle and size
.sho(@angle,@size){
	x:sin(@angle) * @size;
	y:cos(@angle - 180deg) * @size;
}
//convex/concave looking background image
.bgconvex(@d:#0002,@h:#FFF2){
	background-image:linear-gradient(@sha,@d,@h);
}
.bgconcave(@h:#FFF2,@d:#0002){
	.bgconvex(@h,@d);
}
//inner/outer neumorphism shadows
.shinner(@angle,@size,@h:#FFF8,@d:#000A){
	@sho:.sho(@angle,@size);
	box-shadow:inset -@sho[x] -@sho[y] @size -@size @h,
		inset @sho[x] @sho[y] @size -@size @d;
}
.shouter(@angle,@size,@h:#FFF2,@d:#0003){
	@sho:.sho(@angle,@size);
	box-shadow:@sho[x] @sho[y] @size @h,
		-@sho[y] -@sho[y] @size @d;
}
//selected button in navbar
#anb-selected{
	.shinner(@sha - 180deg,@shs * 1.5);
	cursor:default;
	& a{
		color:@htxt !important;
	}
}
//input stuff
#buttonip(){
	margin:0 0.5em;
	color:@txt;
	border-radius:@rad;
	box-shadow:.shouter(@sha,@shs)[box-shadow],.shinner(@sha - 180deg,0,#0000,#0000)[box-shadow];
	transition:box-shadow 0.2s,transform 0.2s;
	cursor:pointer;
	&:hover{
		box-shadow:.shouter(@sha,0,#0000,#0000)[box-shadow],.shinner(@sha - 180deg,0,#0000,#0000)[box-shadow];
		@sho:.sho(@sha,@shs * 0.25);
		transform:scale(0.99);
	}
	&:focus{
		box-shadow:.shouter(@sha,0,#0000,#0000)[box-shadow],.shinner(@sha - 180deg,@shs)[box-shadow];
		@sho:.sho(@sha,@shs * 0.5);
		transform:scale(0.98);
	}
}
#selectip(){
	cursor:pointer;
	padding-right:1.25em;
	background-size:0.75em;
	background-position:right 0.25em bottom -0.25em;
	background-repeat:no-repeat;
	transition:background-image 0.2s,background-position 0.2s;
	//this godawful website doesn't let me embed SVG in CSS
	background-image:linear-gradient(to bottom,@bg 25%,#0000 25%),
		conic-gradient(from -45deg,currentColor 90deg,#0000 90deg);
}
@-moz-document domain("archlinux.org") {
	/*general stuff*/
	body{
		display:flex;
		flex-direction:column;
		background-color:@bg;
		color:@txt;
	}
	/*navbar*/
	#archnavbar{
		position:sticky;
		top:0;
		display:flex;
		background-color:@bg !important;
		border-bottom:none !important;
		box-shadow:.shouter(@sha,@shs)[box-shadow];
		margin-bottom:1em;
	}
	#archnavbarlogo{
		margin-right:auto !important;
		//TODO: custom logo?
	}
	#archnavbarmenu{
		display:flex;
		border-radius:@rad;
		.shouter(@sha,@shs,#FFF1,#0003);
	}
	#archnavbarlist,
	#archnavbar ul{
		display:flex !important;
		& li{
			.shinner(@sha,@shs);
			.bgconvex();
			height:100%;
			padding-top:0 !important;
			display:flex !important;
			align-items:center;
			pointer-events:none;
			& a{
				text-shadow:.shouter(@sha,1px)[box-shadow];
				color:@txt !important;
				pointer-events:all;
				&:hover{
					color:@htxt !important;
					text-decoration:none !important;
				}
			}
			&:hover{
				.bgconcave();
			}
		}
		& li:first-child{
			border-radius:@rad 0 0 @rad;
		}
		& li:last-child{
			border-radius:0 @rad @rad 0;
		}
	}
	#archnavbar ul li.anb-selected{
		#anb-selected();
	}
	@sites:home,packages,forums,wiki,bugs,security,aur,download;
	each(@sites,{//currently selected button
		#archnavbar.anb-@{value} ul li#anb-@{value}{
			#anb-selected();
		}
	});
	/*input stuff*/
	select,input,button{
		appearance:none;
		background-color:#0000;
		color:@txt;
		border:none;
		border-radius:@rad;
		&:focus{
			outline:none;
		}
	}
	select,input:not([type="submit"]){
		box-shadow:.shinner(@sha - 180deg,@shs)[box-shadow],.shouter(@sha,@shs*0.25,@d:#0005)[box-shadow];
	}
	select{
		#selectip();
	}
	button,
	input[type="submit"]{
		#buttonip();
	}
}
@-moz-document domain("security.archlinux.org") {
	#logo{
		margin-right:auto !important;
	}
	#archnavbarlist #anb-security{
		#anb-selected();
	}
}
@-moz-document domain("bugs.archlinux.org") {
	//this domain has a bug where the navbar is incorrectly marked as having "home" selected
	#archnavbar.anb-home ul li#anb-home{
		.shinner(@sha,@shs);
	}
	#archnavbar ul li#anb-bugs{
		#anb-selected();
	}
}

@-moz-document domain("aur.archlinux.org") {
	#content{
		display:grid;
		grid-template-areas:
			"a b"
			"c c"
			"d d";
	}
	#archdev-navbar{
		display:contents;
		& ul{
			display:flex;
			grid-area:a;
			width:fit-content;
			margin:1em 1em 1em 0;
			align-self:stretch;
			& li,
			& form{
				display:contents;
				& a,
				& button{
					display:flex;
					align-self:stretch;
					align-items:center;
					#buttonip();
				}
			}
		}
	}
	#lang_sub{
		grid-area:b;
		width:fit-content;
		justify-self:end;
		float:none;
		align-self:stretch;
		margin:1em 0 1em 1em;
		display:flex;
		& div,
		& fieldset,
		& form{
			display:contents;
		}
	}
	#pkglist-search{
		grid-area:c;
	}
	#pkglist-results{
		grid-area:d;
	}
	/*generic boxes*/
	div.box{
		border:none;
		background-color:#0000;
		border-radius:@rad;
		box-shadow:.shouter(@sha,@shs)[box-shadow],.shinner(@sha,@shs)[box-shadow];
	}
}