@-moz-document domain("try.gitea.io"), domain("gitea.gelse.eu") {
:root{
	--green:#292;
	--dark-green:#060;
	--red:#922;
	--light-red:#D33;
	--blue:#03A;
	--dark-blue:#028;
	--purple:#629;
	--b0:#000;
	--b1:#151515;
	--b2:#222;
	--b3:#333;
	--b4:#444;
	--grey:#888;
	--light-grey:#AAA;
	--white:#CCC;}
/*Header*/
.repository>.header-wrapper{
	background-color:var(--b0);}
.repository>.ui.container{
	background-color:var(--b1);}
.ui.top.secondary.stackable.main.menu.following.bar{
	background-color:var(--b1);
	border:none;}
/*Text*/
*,
.ui.basic.buttons .button{
	color:var(--light-grey) !important;}
.ui.label.has-emoji{
	color:var(--b1) !important;}
.ui .text.grey a{
	color:var(--grey) !important;}
.ui .text.grey a:hover{
	color:var(--light-grey) !important;}
/*Buttons*/
.ui.basic.button,
.ui.basic.buttons>.ui.basic.button{
	color:var(--light-grey) !important;
	background-color:#0000 !important;
	box-shadow:none;
	border:solid 1px var(--grey);}
.ui.basic.button:hover,
.ui.basic.buttons>.ui.basic.button:hover{
	color:var(--white) !important;
	background-color:#0000 !important;
	border-color:var(--grey);
	box-shadow:none !important;}
.ui.button{
	background-color:var(--b);}
.octicon{
	color:inherit !important}
.ui.labeled.button:not(.icon){
	border:solid 1px var(--grey) !important;}
.ui.labeled.button .ui.basic.label{
	background-color:#0000;
	color:var(--light-grey);
	border-left:solid 1px var(--grey) !important;}
.repo-buttons .disabled-repo-button a.button,
.repo-buttons .disabled-repo-button a.button:hover{
	color:var(--grey) !important}
.ui.blue.buttons>.button,
.ui.blue.button{
	background-color:var(--dark-blue);}
.ui.blue.buttons>.button:hover,
.ui.blue.button:hover{
	background-color:var(--blue);}
.ui.basic.green.buttons>.button,
.ui.basic.green.button{
	color:var(--green) !important;}
.ui.green.buttons>.button,
.ui.green.button{
	background-color:var(--dark-green);
	border-color:var(--dark-green) !important;}
.ui.green.buttons>.button:hover,
.ui.green.button:hover{
	background-color:#272;
	border-color:#272 !important;}
.ui.basic.red.buttons>.button,
.ui.basic.red.button{
	color:var(--red) !important;
	box-shadow:none !important;}
.ui.red.buttons>.button,
.ui.red.button{
	background-color:var(--red);
	border-color:var(--red) !important;
	box-shadow:none !important;}
.ui.red.buttons>.button:hover,
.ui.red.button:hover{
	background-color:var(--light-red);
	border-color:var(--light-red) !important;
	box-shadow:none !important;}
.ui.basic.red.button:hover,
.ui.basic.red.buttons .button:hover{
	color:var(--light-red) !important;}
.ui.labeled.button:not(.icon)>.ui.button:not(.label){
	border:none;}
.repo-buttons .disabled-repo-button{
	opacity:0.75;}
.repo-buttons .disabled-repo-button a.button,
.repo-buttons .disabled-repo-button .label{
	opacity:1;}
/*Input fields*/
.ui.input>input,
.ui.action.input:not([class*="left action"])>input:focus{
	background-color:var(--b3);
	border-color:var(--grey);}
.ui.input.down input,
.ui.input>input:active{
	background-color:var(--b3);
	border-color:var(--grey);}
.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus{
	background-color:var(--b3);}
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url]{
	background-color:var(--b3)}
.ui.form textarea,
.ui.form textarea:focus{
	background-color:var(--b3);}
.ui.checkbox .box:before, .ui.checkbox label:before,
.ui.checkbox input:focus~.box:before,
.ui.checkbox input:focus~label:before,
.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox input:checked:focus~.box:before,
.ui.checkbox input:checked:focus~label:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:before,
.ui.checkbox .box:hover::before,
.ui.checkbox label:hover::before{
	background-color:var(--b2);
	border-color:var(--b3);}
.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after,
.ui.checkbox input:checked:focus~.box:after,
.ui.checkbox input:checked:focus~label:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:after{
	color:var(--light-grey);}
/*navbar*/
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover{
	color:var(--white)}
.ui.menu.navbar .active.item{
	background-color:var(--b1);
	border:none;}
.ui.menu.navbar .item,
.ui.menu.navbar .active.item{
	color:var(--light-grey) !important;}
/*Footer*/
footer{
	background-color:var(--b1);
	border-color:var(--grey);}
footer .container .links>*{
	border-color:var(--grey);}
/*Misc*/
.ui.attached.active.tab.segment{
	background-color:var(--b2);}
.ui.segment.content,
.ui.segment{
	background-color:var(--b2);}
.ui.attached.tabular.menu>.active.item{
	background-color:var(--b2);
	border-color:var(--grey);}
.ui.tabular.menu{
	border-color:var(--grey);}
.ui.menu{
	background-color:var(--b2);}
.ui.segment.sub-menu{
	background-color:var(--b2);
	color:var(--light-grey) !important;}
body>div.full.height{
	background-color:var(--b1);}
.repository.view.issue .comment-list .comment .content>.header{
	background-color:var(--b2);
	border:none;}
.ui.attached.segment{
	border:none;}
.ui.disabled.dropdown,
.ui.dropdown .menu>.disabled.item{
	opacity:0.75;}
.ui.selection.dropdown{
	background-color:var(--b3);
	border-color:var(--grey) !important;}
.ui.dropdown .menu{
	background-color:var(--b3);}
.ui.selection.active.dropdown .menu{
	border-color:var(--grey);}
.ui.menu .item>.label{
	background-color:var(--b3);}
.markdown:not(code) h1{
	border-color:var(--grey);}
.ui.positive.message{
	background-color:var(--b2);
	box-shadow:none;}
.ui.table{
	background-color:var(--b2);}
.ui.table thead th{
	background-color:var(--b2);}
a.ui.label:hover,
a.ui.labels .label:hover,
.ui.label{
	background-color:var(--b3);}
.repository.file.list #repo-files-table tr:hover{
	background-color:#0000;}
.ui.basic.clone.button.blue{
	border:none;}
.ui.attached.header{
	background-color:var(--b2);
	border:none}
.ui.horizontal.segments{
	background-color:var(--b2);}
.ui .background.red{
	background-color:var(--red) !important;}
.ui .background.green{
	background-color:var(--green) !important;}
.ui .background.purple{
	background-color:var(--purple)}
.ui .text.red{
	color:var(--red) !important;}
.ui .text.green{
	color:var(--green) !important;}
.ui .text.purple{
	color:var(--purple);}
}
