@-moz-document domain("elearning.tgm.ac.at") {
/*Animations*/

/* Animation by Philip Damianik */
@keyframes bg-pulse-grey {
    0% {background-color: #333;}
    50% {background-color: #444;}
    100% {background-color: #333;}
}


/*scrollbar*/
::-webkit-scrollbar,::-webkit-scrollbar-track-piece{
    background-color:#151515 !important;}
::-webkit-scrollbar-corner,::-webkit-scrollbar-thumb{
    background-color:#333 !important;
    border-radius:0.4em;}
/*navbar*/
.navbar{
    background-color:#222;
    border-bottom-right-radius:0.5em;
    border-bottom-left-radius:0.5em;}
    
    /*dropdown-menu*/
    .dropdown-menu{
        background-color:#333;}
    .dropdown-divider{
        border-top-color:#888;}
    .dropdown-item,.dropdown-item:focus{
        background-color:#0000;}
    .dropdown-item:hover{
        background-color:#444;}
    /*notification drawer*/
    #nav-notification-popover-container>.popover-region-container{
        background-color:#222;
        border-color:#888;}
    #nav-notification-popover-container .notification{
        background-color:#0000 !important;}
    #nav-notification-popover-container .popover-region-header-container,
    #nav-notification-popover-container .popover-region-content-container,
    #nav-notification-popover-container .notification{
        outline: #000 auto 1px;}
    .content-item-container:hover .content-item-footer .timestamp{
        color:#AAA;}
    #nav-notification-popover-container .see-all-link>div{
        background-color:#222;}
    .popover-region-toggle::before,.popover-region-toggle::after{
        display:none;}
/*message drawer*/
.message-app{
    background-color:#222 !important}
.message-app .input-group>input,.input-group-text{
    background-color:#333 !important;
    border-color:#888;
    color:#888;}
.message-app .form-control:focus{
    color:#AAA;}
.message-app .card{
    background-color:#222;}
.message-app .border-bottom{
    border-color:#888 !important;}
.message-app .input-group .btn{
    border-color:#888;}
.message-app .card.expanded .list-group .list-group-item{
    background-color:#333;}
.message-app>.header-container>.bg-white{
    background-color:#333 !important;}
.message-app .message.send{
    background-color:#555 !important;}
.message-app .message.received{
    background-color:#444 !important;}
.message-app .message.received .tail{
    border-bottom-color:#444;}
.message-app .message.send .tail{
    border-bottom-color:#555;}
.message-app .list-group .list-group-item{
    background:#333;}
.message-app .nav-pills{
    border:solid #888 1px;}
.message-app .nav-pills>.nav-item>a:not(.active){
    background-color:#333;}
.message-app .nav-pills>.nav-item>a.active{
    background-color:#444;}
.message-app>.footer-container>.bg-white{
    background-color:#222 !important;
    border-color:#888 !important;}
#conversation-actions-menu-button{
    color:#888;}
#conversation-actions-menu-button:hover{
    background-color:#555;}
#conversation-actions-menu-button:focus{
    background-color:#666;}
.message-app .no-gutters{
    outline:solid 1px #333}
.message-app .content-message-container>div[data-region="self-conversation-message-container"]{
    background-color:#444 !important;}
.message-app .header-container>.bg-white{
    background-color:#333 !important;
    border-color:#333 !important;}
.message-app>div>div>div{
    outline:solid 1px #333;}
.message-app .col-8>.footer-container>.bg-white{
    background-color:#333 !important;
    border:none !important;}
.message-app button.btn-icon.btn-link:hover,
.message-app button.btn-icon.btn-link:focus{
    background-color:#555 !important;}
.message-app textarea.form-control{
    background-color:#444 !important;
    border:none;}
.message-app .body-container div[data-region="settings"]{
    background-color:#222;}
.custom-control-label::before{
    background-color:#888;}
.custom-control-input:checked~.custom-control-label::before{
    background-color:#418BA4 !important;}
.switch input+label::before{
    background-color:#888;}
.switch input:checked + label::before{
    background-color:#418BA4;}
.message-app .body-container>div.h-100.bg-white{
    background-color:#222 !important;}
.message-app [data-region="contacts-container"]{
    background-color:#333;}
.message-app [data-region="non-contacts-container"]{
    background-color:#333;
    border-top-color:#888 !important;}
.message-app div[data-region="all-contacts-container"] .text-right{
    background-color:#333;
    border-top: solid 1px #888;}
.message-app div[data-region="all-contacts-container"] .text-right:hover{
    background-color:#555;}
/*body*/
:root,body,#page{
    background-color:#151515 !important;}
#region-main{
    border-radius:0.5em;}
/*footer*/
#page-footer{
    background-color:#222 !important;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;}
/*sideblocks*/
.block.card{
    background-color:#222;}
/*Kurse*/
.dashboard-card{
    border-color:#333;}
.course-info-container{
    background-color:#333;}
.card-img{
    filter:invert(1) hue-rotate(180deg);}
.card-footer{
    background-color:#333 !important;}
.progress{
    background-color:#151515 !important;
    border-color:#151515 !important;
    margin-bottom: 0.5rem; /* added by Philip Damianik */
    height: .35rem!important; /* added by Philip Damianik */}
.progress-bar{
    background-color:#418BA4;}
.coursemenubtn:hover,.coursemenubtn:focus{
    background-color:#444 !important;}
.course-listitem{
    background-color:#333;}
.course-summaryitem{
    background-color:#333 !important;
    border:none !important;}

/*text*/
span,p,.text-center,h1,h2,h3,h4,h5,h6,.text-right,body,.logininfo{
    color:#AAA !important;}
textarea.form-control{
    background-color:#555 !important;
    border:solid #888 1px;
    border-radius:0.25em;}
a,a>span{
    color:#418BA4 !important;}
a:hover,a>span:hover{
    color:#6AC !important;}
/*icons*/
.logo>img{
    filter:invert(1) hue-rotate(180deg);}
.fa-bell{
    color:#418BA4;}
.popover-region:hover>.nav-link>.fa-bell,.fa-bell:hover{
    color:#6AC;}
.empty-placeholder-image-lg{
    filter:invert(1);}
.dndupload-arrow{
    filter:invert(0.9) hue-rotate(180deg);}
/*Buttons*/
.btn-outline-secondary{
    border-color:#888 !important;}
.btn-outline-secondary:hover{
    background-color:#333 !important;}
.btn-outline-secondary:focus{
    background-color:#444 !important;}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary.dropdown-toggle:focus{
    background-color:#444;}
.pagination>.page-item>a,.pagination>.page-item.disabled>a{
    background-color:#333;
    border-color:#222;}
.pagination>.page-item>a:hover{
    background-color:#555;}
.btn-secondary{
    background-color:#222;
    color:#AAA;
    border:none;}
.btn-secondary:hover{
    background-color:#444;
    color:#BBB;
    border-color:#888;}
.block-timeline .tab-content img{
    filter:invert(1);}
/*Dropdown menus*/
.dropdown-item:active,.dropdown-item.active{
    background-color:#444;}
/*Misc*/
.matchtext{
    background-color:#6AC !important;
    color:#333 !important;}
.card{
    border-radius:0.5em;}
/*Replacement images*/
img[src="https://elearning.tgm.ac.at/pluginfile.php/26624/mod_forum/post/2131/MeineKurse.png"]{
    content:url("https://riedler.gelse.net/sfto/screenshot_darklearning_1.png");}
}

@-moz-document url("http://elearning.tgm.ac.at/"), url("https://elearning.tgm.ac.at/") {
#page-header>div>div.card,#region-main{
    background-color:#222;}
.sitelink{
    filter:invert(1) hue-rotate(180deg);}
#login_username,#login_password{
    background-color:#333 !important;
    color:#AAA !important;}
.btn-primary{
    color:#CCC;
    background-color:#418BA4;}
.btn-primary:hover{
    background-color:#6AC;}
.forumpost{
    border-color:#888 !important;
    border-radius:0.5em;}
}

@-moz-document url("https://elearning.tgm.ac.at/login/index.php"), url("http://elearning.tgm.ac.at/login/index.php") {
.card{
    background-color:#333;
}
.mt-3{
    color:#AAA;
}
img.img-fluid{
    filter:invert(1) hue-rotate(180deg) brightness(0.9)
}
.btn-primary{
    color:#CCC;
    background-color:#418BA4;}
.btn-primary:hover{
    background-color:#6AC;}
}

@-moz-document url-prefix("https://elearning.tgm.ac.at/course/view.php"), url-prefix("http://elearning.tgm.ac.at/course/view.php") {
/*Page header*/
#page-header .card{
    background-color:#222;}
/*Main box*/
#region-main{
    background-color:#222;}
/*row where it displays what you've done and what you didn't y'know?*/
.barRow .progressBarCell[style*="background-color:#73A839"]{
    background-color:#272 !important;}
.barRow .progressBarCell[style*="background-color:#C71C22"]{
    background-color:#922 !important;}
.barRow .progressBarCell{
    border-color:#222;}
.barRow .firstProgressBarCell{
    border-right:none !important;}
.badge-info{
    background-color:#444;}
}

@-moz-document url-prefix("https://elearning.tgm.ac.at/user/files.php"), url-prefix("http://elearning.tgm.ac.at/user/files.php") {
#page-header .card,#region-main{
    background-color:#222;
}
.filemanager-container,.fp-navbar{
    background-color:#333;
    border:none !important;}
a.btn-sm{
    background-color:#444;}
a.btn-sm:active, a.btn-sm.active, a.btn-sm:focus, a.btn-sm.checked{
    background-color:#666 !important}
}

@-moz-document url-prefix("https://elearning.tgm.ac.at/grade/report/overview/index.php"), url-prefix("http://elearning.tgm.ac.at/grade/report/overview/index.php") {
#page-header .card,#region-main{
    background-color:#222;
}
thead>tr>th{
    border-bottom:none !important;}
table td,table th{
    border-color:#888 !important;}
}

@-moz-document url-prefix("http://elearning.tgm.ac.at/message/index.php"), url-prefix("https://elearning.tgm.ac.at/message/index.php") {
#region-main .border-right.h-100{
    border-color:#333 !important;}
}

@-moz-document url-prefix("http://elearning.tgm.ac.at/user/profile.php"), url-prefix("https://elearning.tgm.ac.at/user/profile.php") {
#page-header .card,#region-main{
    background-color:#222;}
#region-main .profile_tree>.node_category{
    background-color:#333;
    border-radius:0.5em;}
}	
