/* ==UserStyle==
@name           Eutropia
@namespace      https://gitea.gelse.eu/Riedler/Userstyles-Riedler/src/branch/eutropia
@version        0.0.2
@description    A dark mode for dolphin-emu.org
@author         Riedler
@preprocessor	uso
@var	color	bg0		"Background 0"		#000
@var	color	bg1		"Background 1"		#151515
@var	color	bg2		"Background 2"		#222
@var	color	txt		"Text"				#BBB
@var	color	htxt	"Hovered Text"		#DDD
@var	color	btn		"Buttons"			rgb(55, 100, 153)
@var	color	hbtn	"Hovered buttons"	rgb(82,148,226)
@var	color	brd		"Borders"			#888
@var	color	inf		"Information Boxes"	rgba(55, 100, 153, .25)
@var	color	lnk		"Links"				rgb(55, 100, 153)
@var	color	hlnk	"Hovered links"		rgb(82,148,226)
@var	color	pl0		"Game: Perfect"		rgb(55, 100, 153)
@var	color	pl1		"Game: Playable"	#2A2
@var	color	pl2		"Game: Starts"		#CA0
@var	color	pl3		"Game: Broken"		#B33
@var	color	lgt		"Highlight"			#FFFFFF15
==/UserStyle== */
@-moz-document regexp("https?:(\\/\\/.*(?<!forums)\\.|\\/\\/)dolphin-emu\\.org($|\\/.*)") {
	:root,
	body{
		background-color:/*[[bg0]]*/;}
	body{
		padding-top:7rem;}
	:root,body,
	p,span,pre,code,
	h1,h2,h3,h4,h5,h6,
	td,dt,figcaption,li{
		color:/*[[txt]]*/;
		text-shadow:none !important}
	.col-row .col{
		background-color:/*[[bg1]]*/;}
	.col-row{
		border-radius:0.5rem;}
	.compat-list>tbody{
		background-color:/*[[bg1]]*/;
		border-radius:0.5rem;}
	.compat-list tbody tr:nth-child(2n+1){
		background-color:transparent;}
	.compat-list tbody tr:nth-child(2n){
		background-color:/*[[lgt]]*/;}
	a[href]:not([class^="tag"]):not(.btn),
	a[href]:not([class^="tag"]):not(.btn) span{
		color:/*[[lnk]]*/}
	a[href]:not([class^="tag"]):not(.btn):hover,
	a[href]:not([class^="tag"]):not(.btn):hover span{
		color:/*[[hlnk]]*/}
	#navbar-dolphin{
		background-image:none;
		background-color:/*[[bg1]]*/;
		position:fixed;
		z-index:3;
		top:0;
		width:100vw;
		height:5rem;}
	.breadcrumb{
		background-color:/*[[bg1]]*/}
	.btn-info,
	.btn-primary{
		background-image:none;
		background-color:/*[[btn]]*/;
		border:none;
		color:/*[[txt]]*/}
	.btn-info:hover,
	.btn-primary:hover{
		background-color:/*[[hbtn]]*/;
		color:/*[[htxt]]*/}
	pre{
		background-color:/*[[bg1]]*/;
		border-color:/*[[brd]]*/;}
	footer{
		border-color:/*[[brd]]*/;}
	img{
		border-radius:0.5rem;}
	.alert-info{
		background-image:none;
		background-color:/*[[inf]]*/;
		border:none;
		color:/*[[txt]]*/}
	.page-header,
	.versions-list tr:first-child,
	.versions-list tr.download{
		border-color:/*[[brd]]*/;}
	.alert{
		box-shadow:inset 0 1px 0 /*[[brd]]*/, 0 1px 2px rgba(0,0,0,0.05);}
	.jumbotron{	/*I'm not laughing, you're laughing!*/
		background-color:/*[[bg1]]*/;}
	.jumbotron h1,
	.jumbotron .h1{
		color:/*[[txt]]*/;}
	.well{
		background-color:/*[[bg1]]*/;
		background-image:none;
		border:none;
		border-radius:0.5rem;
		box-shadow:none;}
	.progress{
		background-color:/*[[bg2]]*/;
		background-image:none;}
	.progress-bar-info{
		background-color:/*[[pl0]]*/;
		background-image:none;}
	.progress-bar-success{
		background-color:/*[[pl1]]*/;
		background-image:none;}
	.progress-bar-warning{
		background-color:/*[[pl2]]*/;
		background-image:none;}
	.progress-bar-danger{
		background-color:/*[[pl3]]*/;
		background-image:none;}
	input[type="text"]{
		background-color:/*[[bg1]]*/;
		border:none;}
	.input-group>span>button{
		background-color:/*[[bg1]]*/;
		color:/*[[txt]]*/;}
	.input-group>span>button:hover{
		background-color:/*[[bg1]]*/;
		color:/*[[htxt]]*/;}
	ul.tag-cloud a,
	.rss-tag{
		background-color:/*[[btn]]*/;
		color:/*[[txt]]*/;}
	.rss-tag:hover,
	.rss-tag:focus{
		background-color:/*[[hbtn]]*/;
		color:/*[[htxt]]*/;}
	.nav>li>a:hover,
	.nav>li>a:focus{
		background-color:/*[[bg2]]*/;}
	code{
		background-color:/*[[lgt]]*/;}
	#toc{
		background-color:/*[[bg1]]*/;
		border:none;
		border-radius:0.5rem;}
	div.thumbinner{
		background-color:/*[[bg1]]*/;
		border:none;
		border-radius:0.5rem;}
	.category>img[title="Wiiware"],
	.category>img[title="Gamecube"],
	.category>img[title="Wii"],
	.category>img[title="Virtual-console"],
	.category>img[title="Channel"]{
		filter:invert(0.8);}
	img[src="//dolphin-emu.org/m/static/img/stars/5.7d3488bc4093.png"]{
		margin-left:-1em;
		content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='120px'><text x='0' y='16.5' font-size='19'>⭐⭐⭐⭐⭐</text></svg>");}
	img[src="//dolphin-emu.org/m/static/img/stars/4.5096f691933f.png"]{
		margin-left:-1em;
		content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='120px'><text x='0' y='16.5' font-size='19'>⭐⭐⭐⭐</text></svg>");}
	img[src="//dolphin-emu.org/m/static/img/stars/3.43fe25f46703.png"]{
		margin-left:-1em;
		content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='120px'><text x='0' y='16.5' font-size='19'>⭐⭐⭐</text></svg>");}
	img[src="//dolphin-emu.org/m/static/img/stars/2.195f9785addd.png"]{
		margin-left:-1em;
		content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='120px'><text x='0' y='16.5' font-size='19'>⭐⭐</text></svg>");}
	img[src="//dolphin-emu.org/m/static/img/stars/1.6dfb2570f44e.png"]{
		margin-left:-1em;
		content:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='120px'><text x='0' y='16.5' font-size='19'>⭐</text></svg>");}
	.pagination>.active>a,
	.pagination>.active>span,
	.pagination>.active>a:hover,
	.pagination>.active>span:hover,
	.pagination>.active>a:focus,
	.pagination>.active>span:focus{
		background-color:/*[[btn]]*/;
		border-color:/*[[btn]]*/;
		z-index:1}
	.pagination>li>a, .pagination>li>span{
		background-color:/*[[bg1]]*/;
		border-color:/*[[brd]]*/;
		color:/*[[lnk]]*/;}
	.pagination>li>a:hover,
	.pagination>li>span:hover,
	.pagination>li>a:focus,
	.pagination>li>span:focus{
		background-color:/*[[bg2]]*/;
		color:/*[[hlnk]]*/;
		border-color:/*[[txt]]*/;}
	.dropdown-menu{
		background-color:/*[[bg1]]*/;
		position:absolute;
		overflow-y:scroll;
		max-height:100vh;
		top:0;}
	.dropdown-menu>li>a:hover,
	.dropdown-menu>li>a:focus{
		background-image:none;
		background-color:/*[[bg2]]*/}
	::-webkit-scrollbar{
    	background:transparent;
		background-image:linear-gradient(to right,transparent 0,transparent 95%,/*[[bg1]]*/ 90%);}
	::-webkit-scrollbar-thumb{
		background-image:linear-gradient(to right,transparent 0,transparent 95%,/*[[btn]]*/ 90%);}
	::-webkit-scrollbar-thumb:hover{
		background-image:linear-gradient(to right,/*[[btn]]*/ 0,/*[[btn]]*/ 90%);
		box-shadow:0 0 0 100vh /*[[bg1]]*/;}
	.carousel-caption>p{
		text-shadow:2px 2px 0.1em #000 !important;
		color:/*[[htxt]]*/;
		font-weight:bold;
		display:none;}
	#carousel-sshot:hover .carousel-caption>p{
		display:initial;}
}
@-moz-document regexp("https?:(\\/\\/.*(?<!forums)\\.|\\/\\/)dolphin-emu\\.org\\/media(\\.?|\\/).*"){
	#gallery>a{
		border:none;}
	img{
		border-radius:0.5rem;}
}
