/* ==UserStyle==
@name			Notaversia
@namespace		https://github.com/RiedleroD/userstyles-riedler
@version		0.0.0
@description	Makes Versia look less modern
@author			Riedler
@homepageURL	https://github.com/RiedleroD/userstyles-riedler
@updateURL		https://github.com/RiedleroD/userstyles-riedler/raw/refs/heads/notaversia/notaversia.user.css
@preprocessor	less
==/UserStyle== */

@sheen-boxshad:
	 0px -1px 0px  0px rgba(0, 0, 0, 0.3) inset,
	 0px  1px 0px  0px rgba(255, 255, 255, 0.15) inset,
	 2px  0px 0px -1px rgba(102, 102, 102, 0.1) inset,
	-2px  0px 0px -1px rgba(136, 136, 136, 0.2) inset;
@imprint-boxshad:
	0px  1px 0px 0px rgba(0, 0, 0, 0.2) inset,
	0px -1px 0px 0px rgba(255, 255, 255, 0.2) inset,
	0px  0px 0px 1px rgba(0, 0, 0, .3) inset;

@inputbg: rgba(35, 38, 42, 0.5);
//@btnbg: #27272a;
@btnbg: var(--theme-dark-700);

@-moz-document domain("beta.versia.social") {
	:root { // some crude color replacements centered around dark-700
		--theme-dark-600: rgb(57, 63, 68);
		--theme-dark-700: rgb(51, 56, 61);
		--theme-dark-800: rgb(42, 46, 50);
		--theme-dark-900: rgb(15, 17, 18);
	}
	
	button[type="button"],
	button[type="submit"] {
		cursor: pointer;
	}
	.\[--btn-bg\:theme\(colors\.zinc\.800\)\] {
		--btn-bg: @btnbg;
	}
	.after\:shadow-\[shadow\:inset_0_1px_theme\(colors\.white\/15\%\)\] {
		&.border {
			border-color: #0000;
		}
		&::after{
			box-shadow: @sheen-boxshad;
		}
	}
	
	aside[aria-label="Navigation"] {
		/* navbar on the left side */
		
		[href="/home"], 
		[href="/public"],
		[href="/local"],
		[href="/notifications"],
		[href="/settings"] {
			> button {
				background-color: @btnbg;
				box-shadow: @sheen-boxshad;
			}
			
			&.router-link-active {
				cursor: default;
				> button {
					box-shadow: @imprint-boxshad;
					pointer-events: none;
				}
			}
		}
		
		[href="/settings"] {
			/* settings button */
			& > button {
				border-color: #0000;
				background-clip: padding-box;
				
				&::after {
					display: none;
				}
			}
		}
		
		[title="Open composer (shortcut: n)"] {
			cursor: pointer;
			
			& > iconify-icon,
			& > span{
				color: #222;
			}
		}
	}
	
	main {
		& + aside.absolute {
			/* notif bar on the right side */
			position: relative;
			right: 0;
			
			& button[aria-label="Toggle sidebar"] {
				display: none;
			}
		}
		
		div.mx-auto.max-w-2xl.w-full {
			/* main scroller */
			max-width: calc(100% - 2.5rem);
			
			&>:not(.timeline) {
				border-radius: 0;
				box-shadow: @sheen-boxshad;
			}
			
			>.timeline {
				border-radius: 0;
				
				>.timeline-items {
					>article {
						border-radius: 0;
						box-shadow: @sheen-boxshad;
						
						>article {
							background-color: none;
						}
					}
				}
			}
		}
		
		[id^="tabs"] {
			[id$="content-account"] {
				form + div div.grid.xl\:grid-cols-2 {
					/* linked account box, hopefully */
					grid-template-columns: 1fr;
					
					button {
						cursor: pointer;
					}
					
					button:not(.\[--btn-bg\:theme\(colors\.primary\.600\)\]) {
						border: none;
						box-shadow: @sheen-boxshad;
						
						&::after {
							box-shadow: none;
						}
					}
					>.bg-dark-700 {
						/* subcontainers */
						
						background-color: #0000;
						box-shadow: @sheen-boxshad;
						
						.bg-dark-700 {
							background-color: #0000;
						}
					}
				}
				
				[aria-label="Display name"],
				[aria-label="Username"],
				[aria-label="Compose your message"] {
					background-color: @inputbg;
					box-shadow: @imprint-boxshad;
				}
			}
			[id$="content-emojis"] {
				[placeholder="Search"] {
					background-color: @inputbg;
					box-shadow: @imprint-boxshad;
				}
			}
			[id$="content-appearance"] {
				[aria-label="Start typing here..."] {
					background-color: @inputbg;
					box-shadow: @imprint-boxshad;
					border: none;
				}
				
				input:not([type]) {
					/* background url */
					background-color: @inputbg;
					box-shadow: @imprint-boxshad;
				}
			}
		}
	}
	
	[data-scope="dialog"] {
		[data-part="content"] {
			.ring-1.rounded-lg {
				/* main body */
				box-shadow: @sheen-boxshad;
				border-radius: 0;
			}
			
			[aria-label="Compose your message"] {
				/* textarea */
				background-color: @inputbg;
				margin-bottom: 0.5rem;
				border-radius: 0.5rem;
				padding: 0.25rem 0.5rem;
				box-shadow: @imprint-boxshad !important;
				
				& + div.absolute {
					/* char counter */
					padding-bottom: 1rem;
				}
			}
			
			[title="Toggle Markdown"],
			[title="Add content warning"] {
				&[toggled="true"] {
					box-shadow: @imprint-boxshad;
				}
			}
		}
	}
}